html {
    background: url("img/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#wrapper {
    margin: 0 auto;
    margin-top: 5%;
    width: 960px;
}

#header {
    margin: 10px;
    margin-bottom: 5%;
}

.container {
    margin: 0 auto;
    width: 960px;
}

.column {
    display: inline;
    float: left;
    margin: 10px;
    overflow: hidden;
    width: 60px;
}

.last {
    margin-right: 0;
}

.span-1 { width: 60px; }
.span-2 { width: 140px; }
.span-3 { width: 220px; }
.span-4 { width: 300px; }
.span-5 { width: 380px; }
.span-6 { width: 460px; }
.span-7 { width: 540px; }
.span-8 { width: 620px; }
.span-9 { width: 700px; }
.span-10 { width: 780px; }
.span-11 { width: 860px; }
.span-12 { width: 940px; }

.push, .pull {
    position: relative;
}

.pull {

}

.clearfix:after, .container:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix, .container {
    display: inline-block;
}

div.container>div {
    height: 140px;
    position: relative;
}

.column>img {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.text {
    margin-top: 110px;
    margin-left: 10px;
    font-family: proxima-nova, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    color: white;
}

#home {
    background-color: #3387ea;
}

#about {
    background-color: #f9be3e;
}

#portfolio {
    background-color: #d3573e;
}

#photos {
    background-color: #59b0e2;
}

#testimonials {
    background-color: #33af95;
}

#hire {
    background-color: #86a73f;
}

#mask {
    background-color: #777777;
}

#colorBlog {
    background-color: #151a26;
}

#contact {
    background-color: #7e5b8c;
}